<template>
  <div class='map-overlay bottom-right'>
    <div class='map-overlay-inner'>
      <div>
        <button @click="download">Export</button>
        <input type="file" @change="processFile($event)"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DataFiles',
  props: ['geojson', 'import'],

  methods: {
    download() {
      const element = document.createElement('a');
      const json = JSON.stringify(this.geojson);
      element.setAttribute('href', 'data:application/json;charset=utf-8,' + encodeURIComponent(json));
      element.setAttribute('download', 'mapbox.json');

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    },

     readJSON(file) {
       return new Promise(resolve=> {
        const reader = new FileReader();
        reader.onload = (event) => {
          if (event.target.readyState === 2) {
            const result = JSON.parse(reader.result);
            return resolve(result);
          }
        };
        reader.readAsText(file);
       })
    },

    processFile(file) {
      const data = file.target.files[0];
      this.readJSON(data)
        .then(geojson => this.import(geojson));
    }
  }
}
</script>

<style scoped>
.bottom-right {
  right: 0;
  bottom: 0;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    padding: 10px;
}

.map-overlay-inner button {
  display: inline-block;
  width: 56px;
  height: 20px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.map-overlay-inner button:focus {
  outline: none;
}

.map-overlay-inner button:hover {
  box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.10);
}

input[type="file"] {
  width: 200px;
}
</style>


