<template>
  <div class="container">
    <div id="map" />
    <SelectMarker :selectMarker="selectMarker" />
    <MarkerList :geojson="geojson" />
    <DataFiles :geojson="geojson" :import="importGeojson"/>
  </div>
</template>

<script>
import mapboxgl from 'mapbox-gl';
import { generateSelect } from './Utils.js';
import SelectMarker from './SelectMarkerView';
import MarkerList from './MarkerListView';
import DataFiles from './DataFiles';

export default {
  name: 'MapBox',
  data() {
    return {
      map: '',
      geojson: {
        "type": 'FeatureCollection',
        "features": []
      },
      canvas: {},
      markerStyles: {value: 0, color: 'black'},
      activeMarker: '',
      preventCreateMarker: false,
      popup: ''
    }
  },
  components: { SelectMarker, MarkerList, DataFiles },
  mounted() {
   this.drawMap();
  },
  methods: {
    drawMap() {
      mapboxgl.accessToken = 'pk.eyJ1IjoibWtvemFrMDEwOCIsImEiOiJjamljeGF4Y3MwNGZrM3BvNmMxd2hsY2wzIn0.ErvzY580HhOEokFZR1GOTg'
      this.map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v9'
      });

      this.map.on('load', () => {
        this.canvas = this.map.getCanvasContainer();
        this.map.addControl(new mapboxgl.FullscreenControl());

        this.addLayerSource(this.geojson);
        this.addLayers();
        this.clickEvents();
        this.mouseEvents();
      })
    },
    addLayerSource(data) {
      this.map.addSource('clusters', {
        "type": "geojson",
        "data": data
      });
    },
    addLayers() {
      this.map.addLayer({
        "id": "clusters",
        "type": "circle",
        "source": 'clusters',
        "paint": {
          "circle-radius": 10,
          "circle-color": [
            'match',
            ['get', 'markerStyles'],
            '0', 'black',
            '1', 'gray',
            '2', 'red',
            '3', 'orange',
            '4', 'lime',
            '5', 'green',
            'black'
          ]
        }
      });

      this.map.addLayer({
        "id": "clusters-label",
        "type": "symbol",
        "source": "clusters",
        "layout": {
          "icon-image": "{marker-symbol}-15",
          "text-field": "{markerStyles}",
          "text-size": 13
        },
        "paint": {
          "text-color": "white"
        }
      });
    },
    addNewMarker(e) {
      if(this.preventCreateMarker) {
        return;
      }
      const id = String(new Date().getTime());
      const popupTemplate = generateSelect([0,1,2,3,4,5], id);
      const point = {
        "type": "Feature",
        "geometry": {
            "type": "Point",
            "coordinates": [e.lngLat.lng, e.lngLat.lat]
        },
        "properties": {
            "id": id,
            "markerStyles": `${this.markerStyles.value}`,
            "description": popupTemplate
        }
      };

      this.geojson.features.push(point);
      this.map.getSource('clusters').setData(this.geojson);
    },
    clickEvents() {
      this.map.on('click', e => this.addNewMarker(e));

      this.map.on('click', 'clusters', (e) => {
        const coordinates = e.features[0].geometry.coordinates.slice();
        const description = e.features[0].properties.description;
        this.activeMarker = e.features[0].properties.id;
        this.map.jumpTo({ 'center': coordinates });

        if(this.popup) {
          this.popup.remove();
        }

        this.popup = new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(this.map);

        this.popupWindowEvents();
      });
    },
    mouseEvents() {
      this.map.on('mouseenter', 'clusters', (e) => {
        this.activeMarker = e.features[0].properties.id;
        this.map.getCanvas().style.cursor = 'pointer';
        this.preventCreateMarker = true;
      });

      this.map.on('mouseleave', 'clusters', () => {
        this.map.getCanvas().style.cursor = '';
        this.preventCreateMarker = false;
      });

      this.map.on('mousedown', 'clusters', (e) => {
        e.preventDefault();

        this.map.on('mousemove', this.onMoveMarker);
        this.map.once('mouseup', this.onUpMarker);
      });
    },
    onMoveMarker(e) {
      const coords = e.lngLat;
      const updatedGeojsonFeatures = this.geojson.features.map(item => {
        if(item.properties.id === this.activeMarker) {
          item.geometry.coordinates = [coords.lng, coords.lat];
        }

        return item;
      });

      this.updateGeoJson(updatedGeojsonFeatures)
    },
    onUpMarker() {
      this.map.off('mousemove', this.onMoveMarker);
      this.map.off('touchmove', this.onMoveMarker);
    },
    selectMarker(marker) {
      this.markerStyles = marker;
    },
    popupWindowEvents() {
      const popupSelectElement = document.getElementById('popup-marker-window');
      const popupButtonElement = document.getElementById('popup-marker-delete');
      const selectedMarker = this.geojson.features.find(item => item.properties.id === this.activeMarker);
      popupSelectElement.value = selectedMarker.properties.markerStyles;

      popupSelectElement.addEventListener('change', popupEvent => this.changeMarker(popupEvent.target.value));
      popupButtonElement.onclick = () => this.deleteMarker();
    },
    changeMarker(option) {
      const updatedGeojsonFeatures = this.geojson.features.map(item => {
        if(item.properties.id === this.activeMarker) {
          item.properties.markerStyles = option;
        }

        return item;
      });

      this.popup.remove();
      this.updateGeoJson(updatedGeojsonFeatures)
    },
    deleteMarker() {
      const updatedGeojsonFeatures = this.geojson.features.filter(item => item.properties.id !== this.activeMarker);

      this.updateGeoJson(updatedGeojsonFeatures);
      this.popup.remove();
    },
    updateGeoJson(updatedGeojsonFeatures) {
      const updatedGeojson = {...this.geojson};
      updatedGeojson.features = updatedGeojsonFeatures;

      this.geojson = updatedGeojson;
      this.map.getSource('clusters').setData(updatedGeojson);
    },
    importGeojson(geojson = {}) {
      const { features } = geojson;
      if(features) {
        const existingGeojson = {...this.geojson};
        features.forEach(element => {
          existingGeojson.features.push(element);
        });

        this.map.getSource('clusters').setData(existingGeojson);
      } else {
        console.warn('Empty geojson file');
      }
    }
  }
}
</script>

<style scoped>
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}
#map { 
  position:absolute; 
  top:0; bottom:0; 
  width:100%; 
}
.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 200px;
  padding: 10px;
}
.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
</style>
