<template>
  <div class='map-overlay top-left'>
    <div class='map-overlay-inner'>
      <fieldset>
          <label>Select Marker</label>
          <select id='layer' @change="onSelectMarker" v-model="selectedMarker">
            <option v-for="marker in markers" :value="marker" :key="marker.value">
              {{ marker.value }}
            </option>
          </select>
      </fieldset>
    </div>
  </div>
</template>

<script>
import { markerMixins } from './Utils.js';

export default {
  name: 'SelectMarker',
  data() {
    return {
      selectedMarker: {value: 0, color: 'black'}
    }
  },
  props: ['selectMarker'],
  mixins: [markerMixins],
  methods: {
    onSelectMarker() {
      const {selectMarker, selectedMarker} = this;

      return selectMarker(selectedMarker);
    }
  }
}
</script>

<style scoped>
.top-left {
  top: 0;
  left: 0;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
  margin: 0;
}

.map-overlay-inner select {
  width: 100%;
}

.map-overlay-inner label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
}

</style>


