<template>
  <div id="app">
    <MapBox />
  </div>
</template>

<script>
import MapBox from './components/MapBox.vue'

export default {
  name: 'app',
  components: {
    MapBox
  }
}
</script>

<style>
body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
